.chatContainer{
    background-color: #EAFDFC;
    position: fixed;
    bottom: 20px;
    right: 50px;
    border-radius: 8px;
    width: 20%;
    padding: 20px;
    margin-top: 30px;
    z-index: 2;
    border: 3px solid #f1f1f1;
}

.closebtn,.sendbtn{
    font-size: 30px;
    color: #0A2647;
    display: block;
    float: right;
}

.textarea{
    border: none;
    background-color: #f1f1f1;
    height: 100px;
    margin: 10px 0;
    width: 100%;
}
