.img{
    position: absolute;
    width: 70px;
    border-radius: 50%;
    z-index: 2;
}

@media only screen and (max-width:600px) {
    .img{
        width: 50px;
    }
}

@media only screen and (max-width:400px) {
    .img{
        width: 40px;
    }
}