.container{
    background-color: #0A2647;
}

.firstColumn{
    background-color: #EAFDFC;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    box-shadow: rgba(0, 50, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.secondColumn{
    min-height: 100vh;
    background-color: #91D8E4;
    position: relative;
}

.m200px{
    margin-right: 150px;
    margin-top: 50px;
}

.hiresocials{
    position: relative;
    margin: 150px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.github{
    margin-top: 100px;
}

.codewars{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px ;
}

@media only screen and (max-width:1200px){
    .m200px{
        margin-right: 0;
        margin-top: 30px;
    }
    .hiresocials{
        margin: 50px 0 0 0;
    }
    .github{
        margin-top: 50px;
    }
    .firstColumn, .secondColumn{
        min-height: 100%;
    }
    
}