#navContainer{
    background-color:#0A2647;
    box-shadow:rgba(0, 0, 50, 0.25) 0px 14px 28px, rgba(0, 0, 150, 0.22) 0px 10px 10px;
    position: relative;
    z-index: 1;
}

.brand{
    color: white;

}

a{
    text-decoration: none;
}