.footer{
    margin-bottom: 5px;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    color: #0A2647;
}

@media only screen and (max-width:800px){
    .footer{
        position: relative;
    }
}

@media only screen and (max-width:400px){
    .footer{
        font-size: 15px;
    }
}