.rounded{
    /* padding: 50px; */
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 20px;
    margin-top: 50px;
    background-color: #0A2647;
    position: relative;
}

.rounded:hover{
    background-color: black;
}

.dpimg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    z-index: 1;

}

.dpcontainer{
/* padding: 20px; */
display: flex;
justify-content: center;
border-radius: 50%;
background-color: #EAFDFC;
position: relative;
margin-top: 50px;
}
@media only screen and (max-width:800px){
    .dpcontainer{
        margin-top: 30px;
    }
}
@media only screen and (max-width:400px){
    .rounded{
        padding: 100px;
        width: 100px;
        height: 100px;
    }
    .dpimg{
        position: absolute;
        top: 0;
        left: 0;

    }
}